body
{
    background-color: black;
    background-position: 100% 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1000px 1000px;
}


header
{
    background-color: #181818ed;
    width: 100%;
    /* position: fixed; */
    margin-bottom: 100px;
}

header nav
{
    margin-left: 100px;
}
header nav ul li 
{
    display: inline-block;
    padding: 15px 50px 15px 0px;
}
header nav ul li:last-child
{
    float: right;
   padding-right: 150px;
}


header nav ul li a
{
    text-decoration: none;
    color: white;
    font-size: larger;
    letter-spacing: 1px;
    font-family: sans-serif;
}


header nav ul li a:current
{
    color: #F0860C;
}


main section:first-child
{
    margin-left: 60px;
    /* transition:  2s ease-out; */

}
main section:first-child h2
{
    color: white;
  font-size: 25px;
  font-family: sans-serif;
  padding: 20px 40px;
}

main section:first-child h2 span
{
    font-size: 30px;
    letter-spacing: 2px;

}


main section:first-child h1
{
    color: white;
    font-size: 64px;
    width: 600px;
    font-family: sans-serif;
    padding: 20px 40px;


}

main section:first-child h3
{
    color: white;
    font-size: 21px;
    padding: 20px 40px;
    font-family: sans-serif;


}


main section:first-child a
{
    text-decoration: none;
    color: #F0860C;
}

#more
{
    padding: 40px;
    font-size: 21px;
    font-family: sans-serif;
    font-weight: 100;

}
